---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";

const yearsAgo = (new Date().getFullYear() - 2011);
const yearsAsDeveloper = (new Date().getFullYear() - 2018);
---

<Layout title="Oscar Esteve - Web full stack develop">
    <Navbar/>
    <main>
        <div class="px-4 py-12 md:px-8 md:py-24 max-w-screen-lg mx-auto relative flex flex-col gap-8">
            <h1 class="text-5xl md:text-6xl font-medium leading-[4rem] md:leading-[5rem]">Hello !<br> I'm
                <span class="bg-gradient-to-r from-blue-300 to-primary bg-clip-text text-transparent font-bold">
                  Oscar Esteve
                </span>
            </h1>
            <h2 class="text-2xl font-medium uppercase text-neutral-300">web full stack developer</h2>
            <p class="max-w-screen-md leading-8 text-xl">
                I spend my workdays creating and maintaining web applications, proving scalable, robust, and tailored
                solutions to meet each project's specific requirements.
            </p>
            <div class="py-8 text-center md:text-start">
                <a href="https://www.linkedin.com/in/oscar-esteve/"
                   class="bg-primary text-2xl px-12 py-4 inline-block rounded-full hover:opacity-90 transition-opacity duration-200">
                    Get in touch
                </a>
            </div>
        </div>
    </main>
    <section class="px-4 py-12 md:px-8 md:py-36 max-w-screen-xl mx-auto" id="about">
        <div>
            <h2 class="text-5xl mb-8 font-bold text-blue-300">About me</h2>
            <p class="mb-8 leading-8 text-xl">My career began around {yearsAgo} years ago as a systems and
                communications administrator, from where I started a transition to full stack developer, in which I have
                specialised for the last {yearsAsDeveloper} years. This transition provided me a broad range of
                knowledge in different areas, including hardware, networking, operations and software engineering ...
                That is something that allows me to know the impact of every decision and to be resolute in my daily
                work.
            </p>

            <p class="mb-8 leading-8 text-xl">
                Over the last few years, I have been focussed on backend development, designing, deploying, and scaling
                distributed environments. I have also been connected to the frontend side, developing diverse web tools
                to manage the backend platforms that I was working on.
            </p>

            <p class="mb-8 leading-8 text-xl">
                During my career, I have had the opportunity to work as a freelancer. During this time, understanding
                the clients' needs, effective communication, and meeting deadlines have been crucial. But above all, it
                has allowed me to broaden my perspective beyond programming, enabling me to understand the business
                aspect behind each project.
            </p>
        </div>
    </section>
    <div class="absolute start-0 top-0 w-full -z-10">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 800 450" opacity="0.19">
            <defs>
                <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%"
                        filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                    <feGaussianBlur stdDeviation="69" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic"
                                    edgeMode="none" result="blur"></feGaussianBlur>
                </filter>
            </defs>
            <g filter="url(#bbblurry-filter)">
                <ellipse rx="104.5" ry="128" cx="404.05645751953125" cy="34.09061085094106" fill="#1e1adb54"></ellipse>
            </g>
        </svg>
    </div>

</Layout>


<style>
    :root {
        scroll-behavior: smooth;
    }
</style>
