---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="bg-neutral-700 border border-gray-800 p-8">
	<a href={href}>
		<h2 class="text-3xl bold mb-2">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
