---
const { href } = Astro.props;
---
<li>
    <a class="rounded px-4 py-2 bg-neutral-800 bg-opacity-0 hover:bg-opacity-75 transition-all duration-400 inline-block text-center w-full" href={href}>
        <slot />
    </a>
</li>
